*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
header{
    height: 10%;
    width: 100%;
    background: black;
}

header h1{
    color: aliceblue;
    text-align: center;
}
.nav{
    background-color: gray;
    color: aliceblue;
    border-radius: 5px;
    margin: 5px;
    text-decoration: none;
    padding: 5px;
}

main p{
    font-weight: bold;
}

img{
    width: 30%;
    height: auto;
}

.bt-receta{
    margin: 15px;
}

footer{
    padding: 2%;
    height: 10%;
    width: 100%;
    background: black;
    text-align: center;
    color: aliceblue;
}

/* estilos pag recetas */
.titulo{
    color: rgb(210, 34, 34);

}