*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
header{
    height: 10%;
    width: 100%;
    background: black;
}

header h1{
    color: aliceblue;
    text-align: center;
}
.nav{
    background-color: gray;
    color: aliceblue;
    border-radius: 5px;
    margin: 5px;
    text-decoration: none;
    padding: 5px;
}

main p{
    font-weight: bold;
}

img{
    width: 30%;
    height: auto;
}

.bt-receta{
    margin: 15px;
}

footer{
    padding: 2%;
    height: 10%;
    width: 100%;
    background: black;
    text-align: center;
    color: aliceblue;
}

i{
    color: aliceblue;
}



/* estilos pag recetas */
.titulo{
    color: rgb(210, 34, 34);
}

/* estilos formulario REGISTRESE */

fieldset {
    margin-bottom: 20px; /* Espacio entre los fieldsets */
}

label {  
    display: inline;
    text-align: left;
    margin-right: 12px; /* Espacio entre etiquetas y campos de entrada */
    margin-bottom: 12px; /* Espacio entre etiquetas */
}

textarea {
    resize: vertical; /* Permitir que el área de texto se redimensione verticalmente */
}

.bt-enviar{
    margin: 15px;
}

